/***** BASE STYLES *****/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#about, #contact, #work {
  height: 625px;
}

/*****GRID*****/

.full-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 33.33%;
  float: left;
}

/*****HEADER*****/

header {
  height: 800px;
  background: url('../img/background-clipping-mask.png');
  background-size: cover;
}

header h1 {
  font-family: 'Lora', serif;
  font-size: 30px;
  color: #bbc085;
  padding: 50px 0;
}

nav {
  float: right;
  padding: 75px 40px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #9f9f9f;
  padding-left: 60px;
}

header h2 {
  width: 950px;
  clear: both;
  font-family: 'Lora', serif;
  font-size: 65px;
  line-height: 80px;
  color: #9b9b9b;
  padding: 20px 0;
}

header h2 span {
  color: #2b2b2b;
}
/*****ABOUT*****/

#about .full-width {
  padding: 80px 0;
}

#about h2 {
  font-family: 'Lora', serif;
  font-size: 36px;
}

#about p {
  font-size: 21px;
  color: #a1a1a1;
  line-height: 40px;
  padding-right: 50px;
}

/*****WORK*****/

#work {
  background-color: #f9ceb7;
  text-align: center;
}

#work .full-width {
  padding: 115px 0;
}

#work img {
  padding-bottom: 30px;
}

#work h3 {
  font-size: 24px;
  width: 190px;
  margin: 0 auto;
}

#work p{
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 30px;
  color: #2b2b2b;
  padding: 0 35px;
}

/*****CONTACT*****/

#contact {
  background-color: ebebeb;
}

#contact .full-width {
  padding: 110px 0;
  }

#contact-img {
    border: 12px solid white;
  }

#contact h2, #email-header, #socialmedia-header, #contact ul {
  padding-left: 115px;
}

#envelope {
  padding: 0 10px 0 115px;
}

#contact h2 {
  font-family:'Lora', serif;
  font-size: 28px;
}
#email-header {
  font-size:32px;
  font-weight: 400;
  margin: -30px 0 5px 0;
}
#socialmedia-header {
  font-size: 29px;
  font-weight:bold;
  margin: 40px 0 0 0;
}
#contact a {
  text-decoration: none;
  color: #c49075;
  font-weight: bold;
  font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}

/* ========== Tablet Layout ==========*/
@media only screen and (max-width: 768px) {
  nav ul li a {
    padding-left: 50px;
  }
}


